.health-info {
    padding: 8px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.health-icon {
    padding-right: 8px;
}

.tremporary-hp-button {
    background-color: #6681a9;
    color: white;
}

.damage-hp-button {
    background-color: #e64747;
    color: white;
}

.heal-hp-button {
    background-color: green;
    color: white;
}
