.notification-item {
    background-color: #ffffffdd;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    width: 380px;
    padding: 14px;
    text-align: right;
    margin-bottom: 12px;
    box-shadow: 5px 5px 5px grey;
}

.notification-info {
    width: 270px;
    margin-right: 20px;
}

.notification-title {
    text-transform: uppercase;
    margin: 0 !important;
}

.notification-title.highlighted {
    color: green;
}

.notification-result-details {
    font-size: 30px;
}

.notification-result-dice {
    color: #7a7a7a;
}

.notification-result {
    width: 60px;
    font-size: 50px;
    font-weight: 500;
    font-weight: 700;
}

.notification-item-short {
    background-color: #ffffffdd;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    width: fit-content;
    padding: 2px 14px;
    text-align: right;
    margin-bottom: 6px;
    box-shadow: 5px 5px 5px grey;
}

.notification-item-short > .notification-info {
    width: fit-content;
    margin: 0;
}

.notification-item-short > .notification-result {
    font-size: 32px;

    width: auto;
    margin-right: 16px;
}

.notification-short > .notification-title {
    width: fit-content;
}

.notification-stack {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 101;
}
