.ability-container {
    width: 578px;
    height: 690px;
    flex-wrap: wrap;
}

.ability-tile {
    min-width: 280px;
    width: 280px;
}

.ability-tile:first-of-type {
    margin-right: 18px;
}

.ability-tile:nth-of-type(2) {
    order: 5;
}

.ability-tile:nth-of-type(3) {
    margin-top: 0;
    order: 2;
}

.ability-tile:nth-of-type(4) {
    order: 3;
}

.ability-tile:nth-of-type(5) {
    order: 6;
}

.ability-tile:nth-of-type(6) {
    margin-bottom: 0 !important;
    order: 4;
}

.ability-tile-header > * {
    margin: 0 !important;
    padding: 0 !important   ;
}

.ability-checks > .ability-check {
    flex: 1 1;
    max-width: 50%;
}

.ability-checks > .ability-check:last-of-type * .ability-check-label {
    margin: 0 4px !important;
}

.ability-check {
    margin-bottom: 6px;
}

.ability-checks > .ability-check:not(:last-of-type) {
    margin-right: 18px;
}

.ability-check-wrap {
    max-height: 24px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    border: 1px solid #d9d9d9;
    padding: 4px 0;
}

.ability-check-label {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin: 0 8px;
    color: inherit;
    white-space: nowrap;
    text-align: left;
}

.ability-check-button {
    margin-left: -1px;
    font-weight: 700;
    font-size: 19px;
    max-width: 42.94px;
    max-height: 32px; 
}

.ability-check-checkbox {
    margin-left: -9px;
    padding: 0;
}
