@media (min-width: 768px) {
    .abilities {
        height: 100%;
        width: 274px;
        min-width: 274px;
        overflow: auto;
    }

    .character-content {
        width: 75%;
    }

    .status-tracker-item {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .abilities,
    .character-content {
        height: 684px;
        width: 572px;
        overflow: auto;
    }

    #constitution {
        order: 2;
    }

    #intelligence {
        order: 3;
    }

    #charisma {
        order: 4;
    }

    #dexterity {
        order: 5;
    }

    #wisdom {
        order: 6;
    }

    .status-tracker-item {
        width: 58%;
    }

    .status-tracker-item {
        width: 75%;
    }
}

.character-header {
    padding: 7px 0;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.character-tile-list-item {
    height: 92px;
    max-width: 396px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    padding: 10px 8px 10px 14px;
}

.inspire-checkbox {
    padding: 4px calc(59% - 16px);
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.inspire-checkbox * input {
    border: none;
}

.status-tracker-item-small {
    min-width: 72px;
}

.description {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2px;
}

.small-description {
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
}

#initiative-button,
#exhaust-button {
    font-weight: 700;
    font-size: 19px;
    width: 100%;
}

.stat-values {
    font-weight: 700;
    font-size: 19px;
}

.link-no-highlight {
    color: inherit;
}

.money {
    margin: 0 !important;
    padding: 0;
}