html * {
    font-family: "Open Sans", sans-serif !important;
}

body {
    margin: 0;
}

.content-layout {
    display: flex;
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    height: fit-content;
}